<h1> My Heroes List</h1>
<ul class = "heroes">
    <!-- // this is a loop just iterates through list of items and displays them..for loop -->
    <li *ngFor = "let hero of heroes">
        <button [class.selected]="hero === selectedHero" type = "button" (click) = "onSelect(hero)">
        <span class="badge"> {{hero.id}}</span>
        <span class = "name"> {{hero.name}} </span>
        </button>
    </li>
</ul>

<!-- use propery binding where ts passed data into the html. we want the hero data that as been selected -->
 <!-- remeber we can only do this because input door was opened in hero detail component -->
<app-hero-detail [hero] = "selectedHero"> </app-hero-detail>
